@model system.administration.DAL.Entities.Program

@{
    ViewData["Title"] = "UpdateProgram";
}

<h1>UpdateProgram</h1>

<h4>Program</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateProgram">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="show" class="control-label"></label>
                <input asp-for="show" class="form-control" />
                <span asp-validation-for="show" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="premiere_data" class="control-label"></label>
                <input asp-for="premiere_data" class="form-control" />
                <span asp-validation-for="premiere_data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="performance_period" class="control-label"></label>
                <input asp-for="performance_period" class="form-control" />
                <span asp-validation-for="performance_period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="days_and_times" class="control-label"></label>
                <input asp-for="days_and_times" class="form-control" />
                <span asp-validation-for="days_and_times" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ticket_price" class="control-label"></label>
                <input asp-for="ticket_price" class="form-control" />
                <span asp-validation-for="ticket_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

