@model system.administration.DAL.Entities.Performance

@{
    ViewData["Title"] = "UpdatePerformance";
}

<h1>UpdatePerformance</h1>

<h4>Performance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePerformance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="director" class="control-label"></label>
                <input asp-for="director" class="form-control" />
                <span asp-validation-for="director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="production_designer" class="control-label"></label>
                <input asp-for="production_designer" class="form-control" />
                <span asp-validation-for="production_designer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="conductor" class="control-label"></label>
                <input asp-for="conductor" class="form-control" />
                <span asp-validation-for="conductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="authon" class="control-label"></label>
                <input asp-for="authon" class="form-control" />
                <span asp-validation-for="authon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genre" class="control-label"></label>
                <input asp-for="genre" class="form-control" />
                <span asp-validation-for="genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

