@model system.administration.DAL.Entities.Schedule

@{
    ViewData["Title"] = "UpdateSchedule";
}

<h1>UpdateSchedule</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateSchedule">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="perfomancee_id" class="control-label"></label>
                <input asp-for="perfomancee_id" class="form-control" />
                <span asp-validation-for="perfomancee_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startt_data" class="control-label"></label>
                <input asp-for="startt_data" class="form-control" />
                <span asp-validation-for="startt_data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="end_data" class="control-label"></label>
                <input asp-for="end_data" class="form-control" />
                <span asp-validation-for="end_data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="venue" class="control-label"></label>
                <input asp-for="venue" class="form-control" />
                <span asp-validation-for="venue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

